<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tests" verbose="1" >
    <test name="Test1">
        <classes>
            <class name="com.telran.demoqa.tests.bookstoreTests.LoginPageTests">
                    <parameter name="kroozs" value="Kroz1234@"></parameter>
            <parameter name="password" value="Kroz1234@"></parameter>
        </class>
        </classes>
    </test>
</suite>